<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Counter</h1>
    <h4><%= count %> times</h4>
    <form class="" action="/ninja1" method="post">
      <input type="submit" name="ninja1" value="Add +2">

    </form>
    <form class="" action="/ninja2" method="post">
      <input type="submit" name="ninja2" value="Reset">
    </form>
  </body>
</html>
