<header>
   <h1>Player Status - Game {{ game_num }}</h1>
   <h2><a [routerLink]="['/game/1']">1</a> | <a [routerLink]="['/game/2']">2</a> | <a [routerLink]="['/game/3']">3</a></h2>
</header>
<body>
   <table>
      <tr>
         <th>Player Name</th>
         <th>Action</th>
      </tr>
      <tr *ngFor='let player of players'>
         <td>{{ player.name }}</td>
         <td>
            <button type="button" name="button" (click)="updateStatus(player, '1', game_num)" [ngClass]="{'playing' : getPlayerStatus(player) == 1}" >Playing</button>
            <button type="button" name="button" (click)="updateStatus(player, '2', game_num)" [ngClass]="{'notplaying' : getPlayerStatus(player) == 2}">Not Playing</button>
            <button type="button" name="button" (click)="updateStatus(player, '0', game_num)" [ngClass]="{'undecided' : getPlayerStatus(player) == 0}">Undecided</button>
            {{ player.game1 }}
         </td>

      </tr>
   </table>
</body>
