<div *ngIf='!loggedIn'>
   <h2>Login Page</h2>
   <form (submit)="login()">
      <label for="">Username</label>
      <input type="text" name="username" value=""
      required minlength = "2" maxlength="25" [(ngModel)] = "newUser.username"
      #username="ngModel">
      <input type="submit" name="" value="Login" [disabled]="username.invalid">
   </form>
</div>

<div *ngIf='loggedIn'>
   <section>
      <a class="fake_button">Play!</a>
      <p>Click the button above to start the trivia game</p>
   </section>
   <section>
      <form class="" action="index.html" method="post">
         <label for="">Search</label>
         <input type="text" name="searchbar">
      </form>

   <table>
      <tr>
         <th>Name</th>
         <th>Score</th>
         <th>Percentage</th>
      </tr>
      <tr *ngFor="let user of users">
         <td>{{ user.username }}</td>
         <td>{{ user.score }} / 3</td>
         <td>{{ user.score / 3 * 100}}%</td>
   </table>
   {{ users | json }}
   </section>
</div>
