<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>    
    <body>
        <header><a href="/">Home</a> | <a href="projects">Projects</a> | <a href="contact">Contact</a></header>
        <section>
            <img src="~/img/1.png" alt="photo of me" />
            <h2>Name: Joseph K</h2>
            <h3>About me: I'm a pokemon!</h3>
        </section>
    </body>
</html>