<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <section>
      <h2>Welcome! This is Joseph's Django Portfolio</h2>
      <h3>Bootcamp Assignments</h3>
      <ul>
        <li><a href="/login_registration">To login & Registration Page</a></li>
        <li><a href="#">User Dashboard Page</a></li>
        <li><a href="#">Ninja Gold</a></li>
      </ul>
      <h3>Side Projects</h3>
      <ul>
        <li><a href="#">Bullet Journal</a></li>

      </ul>


    </section>
  </body>
</html>
