
<form class="" action="index.html" method="post">
   <section *ngFor="let question of threeQuestions">
      <h3>Q: {{ question.question }}</h3>
      <input type="radio" name="{{ question }}" value="">
      <label for="">{{ question.answer}}</label>
      <input type="radio" name="{{ question }}" value="">
      <label for="">{{ question.fake_answer1 }}</label>
      <input type="radio" name="{{ question }}" value="">
      <label for="">{{ question.fake_answer2}}</label>

   </section>
</form>




{{ threeQuestions | json }}
