<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>session words page</title>
  </head>
  <body>
    <div class="left">
      <h2>Add a new word</h2>
      <form class="" action="index.html" method="post">


        <input type="text" name="new_word" value="">
        Coose color <br>
        <input type="radio" name="color" value="Red">Red<br>
        <input type="radio" name="color" value="Green">Green<br>
        <input type="radio" name="color" value="Blue">Blue<br>
        <input type="checkbox" name="big" value="big">show in BIG fonts!<br>
        <input type="submit" name="add" value="Add to Session">
      </form>
    </div>
    <div class="right">

    </div>
  </body>
</html>
