div.text{background-color: white}

.wrapper {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto);
}
.text{
   grid-column:1 / 4;
   grid-row: 1;
}
.like{
   grid-column: 4;
   grid-row: 1;
}
.button{
   grid-column: 5;
   grid-row: 1;
}
button{
   display: block;
   width: 20%;
}
