<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
<button type="button" (click) = "turn(0)" [ngClass]="{color : buttons[0].status === 'Off'}" name="button">{{ buttons[0].status }}</button>
<button type="button" (click) = "turn(1)" [ngClass]="{color : buttons[1].status === 'Off'}" name="button">{{ buttons[1].status }}</button>
<button type="button" (click) = "turn(2)" [ngClass]="{color : buttons[2].status === 'Off'}" name="button">{{ buttons[2].status }}</button>
<button type="button" (click) = "turn(3)" [ngClass]="{color : buttons[3].status === 'Off'}" name="button">{{ buttons[3].status }}</button>
<button type="button" (click) = "turn(4)" [ngClass]="{color : buttons[4].status === 'Off'}" name="button">{{ buttons[4].status }}</button>
<button type="button" (click) = "turn(5)" [ngClass]="{color : buttons[5].status === 'Off'}" name="button">{{ buttons[5].status }}</button>
<button type="button" (click) = "turn(6)" [ngClass]="{color : buttons[6].status === 'Off'}" name="button">{{ buttons[6].status }}</button>
<button type="button" (click) = "turn(7)" [ngClass]="{color : buttons[7].status === 'Off'}" name="button">{{ buttons[7].status }}</button>
<button type="button" (click) = "turn(8)" [ngClass]="{color : buttons[8].status === 'Off'}" name="button">{{ buttons[8].status }}</button>
<button type="button" (click) = "turn(9)" [ngClass]="{color : buttons[9].status === 'Off'}" name="button">{{ buttons[9].status }}</button>
