<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="refresh" content="1">
        <title>Hello!</title>
    </head>
    <body>
        <h1>Time Display!</h1>
        @{
            DateTime CurrentTime = DateTime.Now;
            <h2>@CurrentTime.ToString("MMM dd, yyyy")</h2>
            <h2>@CurrentTime.ToString("hh:mm:ss tt")</h2>
        }
    </body>
</html>