<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greetings</title>
  </head>
  <body>
    <h2>It's Dangerous to Go Alone</h2>
    <h2>Take This</h2>
    <h2><===========[]==o</h2>
    <form action="/results" method="post">
      Name: <input type="text" name="name"><br><br>
      Clan: <select name="clan">
        <option value="Sheika">Sheika</option>
        <option value="Yiga">Yiga</option>
      </select>
      <br>

      <p>Comment</p>
      <textarea name="text" rows="8" cols="80">Hiya</textarea>
      <input type="submit" value="get name">
    </form>
  </body>
</html>
